.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.dirtNav:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dirtNavLink__zvm3W:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dirtNavLink___5Jhnt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dirtNavLink___5G5Qb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dirtNavLink__utceo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.link {
  width: 125px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: var(--token-88Oxp1lx31pA);
  text-align: center;
  text-transform: uppercase;
  background: var(--token-5joSP94EMVrt);
  padding: 8px 20px;
}
