.home {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: stretch;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.home > * {
  grid-column: 4;
}
.heroSection:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.companiesWeCoveredInDirt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.brandItem__xo4H1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.brandItem__kuCv1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.brandItem___7Nr7D:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.brandItem__qTIp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.brandItem__yl83X:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.brandItem__r12W1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.brandItem__zI2R:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.infoSection__tRzrb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__wkMGr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  color: #30261d;
  font-family: "Uncut Sans";
  line-height: 150%;
  margin-bottom: 15px;
  min-width: 0;
}
.text__aUagl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Uncut Sans";
  font-size: 20px;
  color: #30261d;
  line-height: 150%;
  margin-bottom: 15px;
  min-width: 0;
}
.text__fAXw2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Uncut Sans";
  font-size: 20px;
  color: #30261d;
  line-height: 150%;
  margin-bottom: 15px;
  min-width: 0;
}
.text__roSGp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Uncut Sans";
  font-size: 20px;
  color: #30261d;
  line-height: 150%;
  margin-bottom: 15px;
  min-width: 0;
}
.text__eDUmi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  font-weight: 700;
  font-family: "Uncut Sans";
  color: #30261d;
  min-width: 0;
}
.painPointsSection:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.signsCtaSection:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.testimonialSection__idmN:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.threeReasonsSection:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dirtFrameworkSection:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dirtProcessSection:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dirtFilesSection:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.infoSection__wf3C9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.prosConsSection:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.testimonialSection__xAfa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
