.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-DH19M0EtFwnR);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 511px) {
  .root > * {
    grid-column: 4;
  }
}
.dirtNav:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dirtNavLink__tBuBs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dirtNavLink__dq5Sc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.navigationContactButton:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___4EpJp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.section___3YlKg {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: flex-start;
  width: 100%;
  background: var(--token-88Oxp1lx31pA);
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 120px 40px;
}
.section___3YlKg > * {
  grid-column: 4;
}
@media (max-width: 1023px) {
  .section___3YlKg > * {
    grid-column: 4;
  }
}
@media (max-width: 511px) {
  .section___3YlKg {
    padding: 60px 20px;
  }
}
@media (max-width: 511px) {
  .section___3YlKg > * {
    grid-column: 4;
  }
}
.freeBox___6Jh8O {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1300px;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 0px 60px;
  margin: 0px 0px 40px;
  border-style: solid;
  border-color: var(--token-DH19M0EtFwnR);
}
@media (max-width: 511px) {
  .freeBox___6Jh8O {
    padding: 0px 0px 40px;
    margin: 0px 0px 20px;
  }
}
.freeBox__c1EJf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 15px;
  min-width: 0;
  padding: 0px;
}
.text__ofBeU {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-family: "Uncut Sans";
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 500;
}
.text__gKpKf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-family: "Uncut Sans";
  text-transform: uppercase;
  font-weight: 500;
}
.text__qxLTc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-family: "Uncut Sans";
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 500;
}
.h1__kTig7 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 110px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: -1px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .h1__kTig7 {
    font-size: 60px;
  }
}
@media (max-width: 511px) {
  .h1__kTig7 {
    font-size: 40px;
  }
}
.text__k9Ee {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 28px;
  font-family: "Uncut Sans";
  min-width: 0;
}
@media (max-width: 1023px) {
  .text__k9Ee {
    font-size: 24px;
  }
}
@media (max-width: 511px) {
  .text__k9Ee {
    font-size: 20px;
  }
}
.freeBox__vD0D5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 40px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (max-width: 1023px) {
  .freeBox__vD0D5 {
    justify-content: space-between;
  }
}
@media (max-width: 511px) {
  .freeBox__vD0D5 {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    column-gap: 0px;
  }
}
.text___07Y61 {
  position: relative;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: "Uncut Sans";
  font-weight: 500;
  font-size: 18px;
  width: auto;
}
.text__b2E4O {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Uncut Sans";
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 10px;
  opacity: 0.3;
}
.section__tytWo {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 120px 60px;
}
.section__tytWo > * {
  grid-column: 4;
}
@media (max-width: 1023px) {
  .section__tytWo > * {
    grid-column: 4;
  }
}
@media (max-width: 511px) {
  .section__tytWo {
    padding: 40px 20px;
  }
}
@media (max-width: 511px) {
  .section__tytWo > * {
    grid-column: 4;
  }
}
.text__xufm9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1200px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.section__kYf0 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: #171310;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 60px;
}
.section__kYf0 > * {
  grid-column: 4;
}
@media (max-width: 1023px) {
  .section__kYf0 > * {
    grid-column: 4;
  }
}
@media (max-width: 511px) {
  .section__kYf0 {
    padding: 40px 20px;
  }
}
@media (max-width: 511px) {
  .section__kYf0 > * {
    grid-column: 4;
  }
}
.freeBox___4SrAh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1300px;
  column-gap: 40px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (max-width: 1023px) {
  .freeBox___4SrAh {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    row-gap: 0px;
  }
}
.img {
  object-fit: cover;
  width: 190px;
  height: 190px;
  flex-shrink: 0;
  border-radius: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__y9Izt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___5IWaM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Uncut Sans";
  color: var(--token-5joSP94EMVrt);
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  min-width: 0;
}
@media (max-width: 511px) {
  .text___5IWaM {
    font-size: 18px;
  }
}
.text__g5536 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 60px;
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
  min-width: 0;
  margin: 10px 0px 0px;
}
@media (max-width: 511px) {
  .text__g5536 {
    font-size: 40px;
  }
}
.text__zTmI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #fffcfc80;
  font-family: "Uncut Sans";
  font-weight: 400;
  font-size: 28px;
  letter-spacing: -1px;
  line-height: 1.2;
  min-width: 0;
  margin: 30px 0px 60px;
}
@media (max-width: 1023px) {
  .text__zTmI {
    font-size: 24px;
  }
}
@media (max-width: 511px) {
  .text__zTmI {
    font-size: 20px;
  }
}
.freeBox__tVTbL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 40px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 511px) {
  .freeBox__tVTbL {
    column-gap: 20px;
    row-gap: 0px;
  }
}
.link__kWmR5 {
  color: var(--token-5joSP94EMVrt);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -1px;
  text-decoration-line: underline;
}
@media (max-width: 511px) {
  .link__kWmR5 {
    font-size: 20px;
    letter-spacing: -0.5px;
  }
}
.link__kiuqr {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: var(--token-5joSP94EMVrt);
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -1px;
  text-decoration-line: underline;
}
@media (max-width: 511px) {
  .link__kiuqr {
    font-size: 20px;
    letter-spacing: -0.5px;
  }
}
.section__agqZn {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: flex-start;
  width: 100%;
  background: var(--token-5joSP94EMVrt);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 120px 55px;
}
.section__agqZn > * {
  grid-column: 4;
}
@media (max-width: 511px) {
  .section__agqZn {
    padding: 60px 20px;
  }
}
@media (max-width: 511px) {
  .section__agqZn > * {
    grid-column: 4;
  }
}
.freeBox__cxt8C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1300px;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.h1__js3X8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-88Oxp1lx31pA);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  min-width: 0;
}
@media (max-width: 1023px) {
  .h1__js3X8 {
    font-size: 60px;
  }
}
@media (max-width: 511px) {
  .h1__js3X8 {
    font-size: 40px;
  }
}
.text__un3Ob {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 55px;
  line-height: 1.1;
  letter-spacing: -1.5px;
  min-width: 0;
  margin: 0px 0px 40px;
}
@media (max-width: 1023px) {
  .text__un3Ob {
    font-size: 40px;
  }
}
@media (max-width: 511px) {
  .text__un3Ob {
    font-size: 30px;
  }
}
.newsletterFormSection:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
