@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Roboto+Condensed%3Aital%2Cwght%400%2C400%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-0tGgDe_nNZsE_font-family: "Inter", sans-serif;
  --mixin-0tGgDe_nNZsE_font-size: 16px;
  --mixin-0tGgDe_nNZsE_font-weight: 400;
  --mixin-0tGgDe_nNZsE_font-style: normal;
  --mixin-0tGgDe_nNZsE_text-align: left;
  --mixin-0tGgDe_nNZsE_text-transform: none;
  --mixin-0tGgDe_nNZsE_line-height: 1.5;
  --mixin-0tGgDe_nNZsE_letter-spacing: normal;
  --mixin-0tGgDe_nNZsE_white-space: pre-wrap;
  --mixin-0tGgDe_nNZsE_user-select: text;
  --mixin-0tGgDe_nNZsE_text-decoration-line: none;
  --mixin-0tGgDe_nNZsE_text-overflow: clip;
  --mixin-0tGgDe_nNZsE_color: #000000;
  --mixin-R3agEU8x9pff_font-weight: 700;
  --mixin-R3agEU8x9pff_font-size: 64px;
  --mixin-R3agEU8x9pff_line-height: 1;
  --mixin-R3agEU8x9pff_letter-spacing: -1px;
  --mixin-R3agEU8x9pff_white-space: pre-wrap;
  --mixin-Xaa-jmcJ_tKk_font-size: 48px;
  --mixin-Xaa-jmcJ_tKk_font-weight: 700;
  --mixin-Xaa-jmcJ_tKk_letter-spacing: -0.5px;
  --mixin-Xaa-jmcJ_tKk_line-height: 1.1;
  --mixin-Xaa-jmcJ_tKk_white-space: pre-wrap;
  --mixin-1zLQ5vxkUHjf_color: #0070f3;
  --mixin-1zLQ5vxkUHjf_white-space: pre-wrap;
  --mixin-56sDauV3dil9_font-size: 32px;
  --mixin-56sDauV3dil9_font-weight: 600;
  --mixin-56sDauV3dil9_line-height: 1.2;
  --mixin-56sDauV3dil9_white-space: pre-wrap;
  --mixin-58ilwLkuFJCR_font-size: 24px;
  --mixin-58ilwLkuFJCR_font-weight: 600;
  --mixin-58ilwLkuFJCR_line-height: 1.3;
  --mixin-58ilwLkuFJCR_white-space: pre-wrap;
  --mixin-lYVPdGDAUOq9_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-lYVPdGDAUOq9_border-bottom-color: #dddddd;
  --mixin-lYVPdGDAUOq9_border-bottom-style: solid;
  --mixin-lYVPdGDAUOq9_border-bottom-width: 1px;
  --mixin-lYVPdGDAUOq9_border-left-color: #dddddd;
  --mixin-lYVPdGDAUOq9_border-left-style: solid;
  --mixin-lYVPdGDAUOq9_border-left-width: 1px;
  --mixin-lYVPdGDAUOq9_border-right-color: #dddddd;
  --mixin-lYVPdGDAUOq9_border-right-style: solid;
  --mixin-lYVPdGDAUOq9_border-right-width: 1px;
  --mixin-lYVPdGDAUOq9_border-top-color: #dddddd;
  --mixin-lYVPdGDAUOq9_border-top-style: solid;
  --mixin-lYVPdGDAUOq9_border-top-width: 1px;
  --mixin-lYVPdGDAUOq9_border-bottom-left-radius: 3px;
  --mixin-lYVPdGDAUOq9_border-bottom-right-radius: 3px;
  --mixin-lYVPdGDAUOq9_border-top-left-radius: 3px;
  --mixin-lYVPdGDAUOq9_border-top-right-radius: 3px;
  --mixin-lYVPdGDAUOq9_font-family: "Inconsolata";
  --mixin-lYVPdGDAUOq9_padding-bottom: 1px;
  --mixin-lYVPdGDAUOq9_padding-left: 4px;
  --mixin-lYVPdGDAUOq9_padding-right: 4px;
  --mixin-lYVPdGDAUOq9_padding-top: 1px;
  --mixin-lYVPdGDAUOq9_white-space: pre-wrap;
  --mixin-Uay2bABUiLMx_border-left-color: #dddddd;
  --mixin-Uay2bABUiLMx_border-left-style: solid;
  --mixin-Uay2bABUiLMx_border-left-width: 3px;
  --mixin-Uay2bABUiLMx_color: #888888;
  --mixin-Uay2bABUiLMx_padding-left: 10px;
  --mixin-Uay2bABUiLMx_white-space: pre-wrap;
  --mixin-i1EGxHJBED6C_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-i1EGxHJBED6C_border-bottom-color: #dddddd;
  --mixin-i1EGxHJBED6C_border-bottom-style: solid;
  --mixin-i1EGxHJBED6C_border-bottom-width: 1px;
  --mixin-i1EGxHJBED6C_border-left-color: #dddddd;
  --mixin-i1EGxHJBED6C_border-left-style: solid;
  --mixin-i1EGxHJBED6C_border-left-width: 1px;
  --mixin-i1EGxHJBED6C_border-right-color: #dddddd;
  --mixin-i1EGxHJBED6C_border-right-style: solid;
  --mixin-i1EGxHJBED6C_border-right-width: 1px;
  --mixin-i1EGxHJBED6C_border-top-color: #dddddd;
  --mixin-i1EGxHJBED6C_border-top-style: solid;
  --mixin-i1EGxHJBED6C_border-top-width: 1px;
  --mixin-i1EGxHJBED6C_border-bottom-left-radius: 3px;
  --mixin-i1EGxHJBED6C_border-bottom-right-radius: 3px;
  --mixin-i1EGxHJBED6C_border-top-left-radius: 3px;
  --mixin-i1EGxHJBED6C_border-top-right-radius: 3px;
  --mixin-i1EGxHJBED6C_font-family: "Inconsolata";
  --mixin-i1EGxHJBED6C_padding-bottom: 3px;
  --mixin-i1EGxHJBED6C_padding-left: 6px;
  --mixin-i1EGxHJBED6C_padding-right: 6px;
  --mixin-i1EGxHJBED6C_padding-top: 3px;
  --mixin-i1EGxHJBED6C_white-space: pre-wrap;
  --mixin-sik0v-qRWwUM_display: flex;
  --mixin-sik0v-qRWwUM_flex-direction: column;
  --mixin-sik0v-qRWwUM_align-items: stretch;
  --mixin-sik0v-qRWwUM_justify-content: flex-start;
  --mixin-sik0v-qRWwUM_list-style-position: outside;
  --mixin-sik0v-qRWwUM_padding-left: 40px;
  --mixin-sik0v-qRWwUM_position: relative;
  --mixin-sik0v-qRWwUM_list-style-type: disc;
  --mixin-sik0v-qRWwUM_white-space: pre-wrap;
  --mixin-BGWnxS6eJKlu_display: flex;
  --mixin-BGWnxS6eJKlu_flex-direction: column;
  --mixin-BGWnxS6eJKlu_align-items: stretch;
  --mixin-BGWnxS6eJKlu_justify-content: flex-start;
  --mixin-BGWnxS6eJKlu_list-style-position: outside;
  --mixin-BGWnxS6eJKlu_padding-left: 40px;
  --mixin-BGWnxS6eJKlu_position: relative;
  --mixin-BGWnxS6eJKlu_list-style-type: decimal;
  --mixin-BGWnxS6eJKlu_white-space: pre-wrap;
  --mixin-G1iodfF8qxQx_font-size: 20px;
  --mixin-G1iodfF8qxQx_font-weight: 600;
  --mixin-G1iodfF8qxQx_line-height: 1.5;
  --mixin-G1iodfF8qxQx_white-space: pre-wrap;
  --mixin-7WGncwvCWkGW_font-size: 16px;
  --mixin-7WGncwvCWkGW_font-weight: 600;
  --mixin-7WGncwvCWkGW_line-height: 1.5;
  --mixin-7WGncwvCWkGW_white-space: pre-wrap;
  --mixin-YqFF8yFffhBE_color: #3291ff;
  --mixin-YqFF8yFffhBE_white-space: pre-wrap;
  --mixin-i_4UjddGy20v_white-space: pre-wrap;
  --mixin-Q_WQ-I5PfFKq_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-0tGgDe_nNZsE_font-family);
  font-size: var(--mixin-0tGgDe_nNZsE_font-size);
  font-weight: var(--mixin-0tGgDe_nNZsE_font-weight);
  font-style: var(--mixin-0tGgDe_nNZsE_font-style);
  color: var(--mixin-0tGgDe_nNZsE_color);
  text-align: var(--mixin-0tGgDe_nNZsE_text-align);
  text-transform: var(--mixin-0tGgDe_nNZsE_text-transform);
  line-height: var(--mixin-0tGgDe_nNZsE_line-height);
  letter-spacing: var(--mixin-0tGgDe_nNZsE_letter-spacing);
  white-space: var(--mixin-0tGgDe_nNZsE_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-weight: var(--mixin-R3agEU8x9pff_font-weight);
  font-size: var(--mixin-R3agEU8x9pff_font-size);
  line-height: var(--mixin-R3agEU8x9pff_line-height);
  letter-spacing: var(--mixin-R3agEU8x9pff_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-size: var(--mixin-Xaa-jmcJ_tKk_font-size);
  font-weight: var(--mixin-Xaa-jmcJ_tKk_font-weight);
  letter-spacing: var(--mixin-Xaa-jmcJ_tKk_letter-spacing);
  line-height: var(--mixin-Xaa-jmcJ_tKk_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-1zLQ5vxkUHjf_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-size: var(--mixin-56sDauV3dil9_font-size);
  font-weight: var(--mixin-56sDauV3dil9_font-weight);
  line-height: var(--mixin-56sDauV3dil9_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-size: var(--mixin-58ilwLkuFJCR_font-size);
  font-weight: var(--mixin-58ilwLkuFJCR_font-weight);
  line-height: var(--mixin-58ilwLkuFJCR_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-lYVPdGDAUOq9_font-family);
  border-radius: var(--mixin-lYVPdGDAUOq9_border-top-left-radius)
    var(--mixin-lYVPdGDAUOq9_border-top-right-radius)
    var(--mixin-lYVPdGDAUOq9_border-bottom-right-radius)
    var(--mixin-lYVPdGDAUOq9_border-bottom-left-radius);
  padding: var(--mixin-lYVPdGDAUOq9_padding-top)
    var(--mixin-lYVPdGDAUOq9_padding-right)
    var(--mixin-lYVPdGDAUOq9_padding-bottom)
    var(--mixin-lYVPdGDAUOq9_padding-left);
  border-top: var(--mixin-lYVPdGDAUOq9_border-top-width)
    var(--mixin-lYVPdGDAUOq9_border-top-style)
    var(--mixin-lYVPdGDAUOq9_border-top-color);
  border-right: var(--mixin-lYVPdGDAUOq9_border-right-width)
    var(--mixin-lYVPdGDAUOq9_border-right-style)
    var(--mixin-lYVPdGDAUOq9_border-right-color);
  border-bottom: var(--mixin-lYVPdGDAUOq9_border-bottom-width)
    var(--mixin-lYVPdGDAUOq9_border-bottom-style)
    var(--mixin-lYVPdGDAUOq9_border-bottom-color);
  border-left: var(--mixin-lYVPdGDAUOq9_border-left-width)
    var(--mixin-lYVPdGDAUOq9_border-left-style)
    var(--mixin-lYVPdGDAUOq9_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Uay2bABUiLMx_color);
  padding-left: var(--mixin-Uay2bABUiLMx_padding-left);
  border-left: var(--mixin-Uay2bABUiLMx_border-left-width)
    var(--mixin-Uay2bABUiLMx_border-left-style)
    var(--mixin-Uay2bABUiLMx_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-i1EGxHJBED6C_font-family);
  border-radius: var(--mixin-i1EGxHJBED6C_border-top-left-radius)
    var(--mixin-i1EGxHJBED6C_border-top-right-radius)
    var(--mixin-i1EGxHJBED6C_border-bottom-right-radius)
    var(--mixin-i1EGxHJBED6C_border-bottom-left-radius);
  padding: var(--mixin-i1EGxHJBED6C_padding-top)
    var(--mixin-i1EGxHJBED6C_padding-right)
    var(--mixin-i1EGxHJBED6C_padding-bottom)
    var(--mixin-i1EGxHJBED6C_padding-left);
  border-top: var(--mixin-i1EGxHJBED6C_border-top-width)
    var(--mixin-i1EGxHJBED6C_border-top-style)
    var(--mixin-i1EGxHJBED6C_border-top-color);
  border-right: var(--mixin-i1EGxHJBED6C_border-right-width)
    var(--mixin-i1EGxHJBED6C_border-right-style)
    var(--mixin-i1EGxHJBED6C_border-right-color);
  border-bottom: var(--mixin-i1EGxHJBED6C_border-bottom-width)
    var(--mixin-i1EGxHJBED6C_border-bottom-style)
    var(--mixin-i1EGxHJBED6C_border-bottom-color);
  border-left: var(--mixin-i1EGxHJBED6C_border-left-width)
    var(--mixin-i1EGxHJBED6C_border-left-style)
    var(--mixin-i1EGxHJBED6C_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-sik0v-qRWwUM_display);
  flex-direction: var(--mixin-sik0v-qRWwUM_flex-direction);
  align-items: var(--mixin-sik0v-qRWwUM_align-items);
  justify-content: var(--mixin-sik0v-qRWwUM_justify-content);
  list-style-position: var(--mixin-sik0v-qRWwUM_list-style-position);
  padding-left: var(--mixin-sik0v-qRWwUM_padding-left);
  position: var(--mixin-sik0v-qRWwUM_position);
  list-style-type: var(--mixin-sik0v-qRWwUM_list-style-type);
  column-gap: var(--mixin-sik0v-qRWwUM_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-BGWnxS6eJKlu_display);
  flex-direction: var(--mixin-BGWnxS6eJKlu_flex-direction);
  align-items: var(--mixin-BGWnxS6eJKlu_align-items);
  justify-content: var(--mixin-BGWnxS6eJKlu_justify-content);
  list-style-position: var(--mixin-BGWnxS6eJKlu_list-style-position);
  padding-left: var(--mixin-BGWnxS6eJKlu_padding-left);
  position: var(--mixin-BGWnxS6eJKlu_position);
  list-style-type: var(--mixin-BGWnxS6eJKlu_list-style-type);
  column-gap: var(--mixin-BGWnxS6eJKlu_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-size: var(--mixin-G1iodfF8qxQx_font-size);
  font-weight: var(--mixin-G1iodfF8qxQx_font-weight);
  line-height: var(--mixin-G1iodfF8qxQx_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-size: var(--mixin-7WGncwvCWkGW_font-size);
  font-weight: var(--mixin-7WGncwvCWkGW_font-weight);
  line-height: var(--mixin-7WGncwvCWkGW_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-YqFF8yFffhBE_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
