.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-fMGgVjD_4Opa);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-HG1Bo-NV1CzO);
  font-family: var(--token-LelYlfkAq8NR);
  font-size: var(--token-7TYQYyZ5AysM);
  line-height: var(--token-UG5_NHQHMehJ);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-mbzl0RUIA6mz);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-OCwzbs4pRxUf);
  outline-offset: 1px;
  outline-color: var(--token-fMGgVjD_4Opa);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-13D0y4Ejrl_f);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-hlCsRbxdMgKO);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-FZYDsD8C3DjT);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-oljt_yYZmVAQ);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-Bz_Ar9A7zoBC);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-OHqOKFsiCLOF);
  font-size: var(--token-KHUu_MAE1Y5u);
  column-gap: var(--token-OCwzbs4pRxUf);
  row-gap: 0px;
  border-radius: var(--token-KZdmHtfui2Gf);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-KHUu_MAE1Y5u);
  line-height: var(--token-OHqOKFsiCLOF);
  column-gap: var(--token-KZdmHtfui2Gf);
  row-gap: 0px;
  border-radius: var(--token-KZdmHtfui2Gf);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-6V6Ps7CUupMW);
  line-height: var(--token-RZe3sOx6u2vL);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-6V6Ps7CUupMW);
  line-height: var(--token-RZe3sOx6u2vL);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-iuavwEIdudrd);
  border-radius: var(--token-mbzl0RUIA6mz);
}
.softBackgroundcolor_neutral {
  background: var(--token-_azXzc4DGj5P);
}
.softBackgroundcolor_muted {
  background: var(--token-cYPd_9BNRSrr);
}
.softBackgroundcolor_success {
  background: var(--token-PZYI_YPxlf1L);
}
.softBackgroundcolor_warning {
  background: var(--token-Ojf-Ha9FU_J-);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-k4DdQuPkSVyM);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-mbzl0RUIA6mz);
  border: 0px solid var(--token-5F6AFWq_F1Kw);
}
.bordercolor_neutral {
  border-color: var(--token-9UCWs57S4Gnz);
}
.bordercolor_muted {
  border-color: var(--token-GV9XWAWnpJhO);
}
.bordercolor_success {
  border-color: var(--token-U1ouZu33HDow);
}
.bordercolor_warning {
  border-color: var(--token-jd09__EWH0xI);
}
.bordercolor_errorDestructive {
  border-color: var(--token-7SgpMpjfXTg7);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-mbzl0RUIA6mz);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-8yvc8-SV89zt);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-WbN_N4aKG79J);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-7PQleek9Y7U0);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__ha6Eb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-mbzl0RUIA6mz);
  min-width: 0;
  min-height: 0;
  padding: var(--token-mbzl0RUIA6mz) var(--token-QO-pUdQcaWq-);
}
.freeBoxsize_extraSmall__ha6EBx7QSt {
  padding: var(--token-KZdmHtfui2Gf) var(--token-mbzl0RUIA6mz);
}
.freeBoxsize_small__ha6Eb0MwjU {
  padding: var(--token-mbzl0RUIA6mz) var(--token-HG1Bo-NV1CzO);
}
.freeBoxsize_large__ha6Eb2QK22 {
  padding-top: var(--token-KZdmHtfui2Gf);
  padding-bottom: var(--token-KZdmHtfui2Gf);
}
.freeBoxsize_extraLarge__ha6EbJoteP {
  padding-left: var(--token-D5GT6e4LQllw);
  padding-right: var(--token-D5GT6e4LQllw);
}
.freeBoxroundedFull__ha6EBsIAn {
  padding-right: var(--token-D5GT6e4LQllw);
  padding-left: var(--token-D5GT6e4LQllw);
}
.freeBox___2VKzS {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___2VKzSZXoe {
  display: flex;
}
.slotTargetStart {
  color: var(--token-KO04KQGbAwkK);
}
.slotTargetStartcolor_neutral {
  color: var(--token-ojeKm3OIet53);
}
.slotTargetStartcolor_muted {
  color: var(--token-XhE_dbHYJlWM);
}
.slotTargetStartcolor_success {
  color: var(--token-qqBsxuSRoZh8);
}
.slotTargetStartcolor_warning {
  color: var(--token-BzEcmaT1pki6);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-gxEg8fbjcD97);
}
.slotTargetStarttype_soft {
  color: var(--token-Tn0SVuBVj_hg);
}
.slotTargetStarttype_bordered {
  color: var(--token-Tn0SVuBVj_hg);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-KHUu_MAE1Y5u);
}
.slotTargetStartsize_small {
  font-size: var(--token-KHUu_MAE1Y5u);
}
.slotTargetStartsize_large {
  font-size: var(--token-6V6Ps7CUupMW);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-6V6Ps7CUupMW);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-JMhBVOszH0Sl);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-JMhBVOszH0Sl);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-BF6r3soqhNYd);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-BF6r3soqhNYd);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-OkNLCxtpsrFP);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-OkNLCxtpsrFP);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-e4ro7RHp17uz);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-e4ro7RHp17uz);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-K3AsUici94Wb);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-K3AsUici94Wb);
}
.svg__tChVh {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-KO04KQGbAwkK);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-ojeKm3OIet53);
}
.slotTargetLabelcolor_muted {
  color: var(--token-XhE_dbHYJlWM);
}
.slotTargetLabelcolor_success {
  color: var(--token-qqBsxuSRoZh8);
}
.slotTargetLabelcolor_warning {
  color: var(--token-BzEcmaT1pki6);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-gxEg8fbjcD97);
}
.slotTargetLabeltype_soft {
  color: var(--token-Tn0SVuBVj_hg);
}
.slotTargetLabeltype_bordered {
  color: var(--token-Tn0SVuBVj_hg);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-JMhBVOszH0Sl);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-BF6r3soqhNYd);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-JMhBVOszH0Sl);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-OkNLCxtpsrFP);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-BF6r3soqhNYd);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-e4ro7RHp17uz);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-OkNLCxtpsrFP);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-K3AsUici94Wb);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-e4ro7RHp17uz);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-K3AsUici94Wb);
}
.text__mq8Fm {
  white-space: pre;
}
.freeBox___5Ptnw {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___5PtnwajzQe {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-KO04KQGbAwkK);
}
.slotTargetEndcolor_neutral {
  color: var(--token-ojeKm3OIet53);
}
.slotTargetEndcolor_muted {
  color: var(--token-XhE_dbHYJlWM);
}
.slotTargetEndcolor_success {
  color: var(--token-qqBsxuSRoZh8);
}
.slotTargetEndcolor_warning {
  color: var(--token-BzEcmaT1pki6);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-gxEg8fbjcD97);
}
.slotTargetEndtype_soft {
  color: var(--token-Tn0SVuBVj_hg);
}
.slotTargetEndtype_bordered {
  color: var(--token-Tn0SVuBVj_hg);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-KHUu_MAE1Y5u);
}
.slotTargetEndsize_small {
  font-size: var(--token-KHUu_MAE1Y5u);
}
.slotTargetEndsize_large {
  font-size: var(--token-6V6Ps7CUupMW);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-6V6Ps7CUupMW);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-JMhBVOszH0Sl);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-JMhBVOszH0Sl);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-BF6r3soqhNYd);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-BF6r3soqhNYd);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-OkNLCxtpsrFP);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-OkNLCxtpsrFP);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-e4ro7RHp17uz);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-e4ro7RHp17uz);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-K3AsUici94Wb);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-K3AsUici94Wb);
}
.svg__e1Iqr {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
