.root {
  color: var(--token-88Oxp1lx31pA);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  width: 125px;
  background: var(--token-5joSP94EMVrt);
  text-align: center;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 0.3s;
  position: relative;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  padding: 8px 20px;
}
.root:hover:hover {
  background: var(--token-BdW42BIhE9o2);
}
