.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-DH19M0EtFwnR);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.dirtNav:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dirtNavLink__feNxp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dirtNavLink___0Gx4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.link___9CiQl {
  width: 125px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: var(--token-88Oxp1lx31pA);
  text-align: center;
  text-transform: uppercase;
  background: var(--token-5joSP94EMVrt);
  padding: 8px 20px;
}
.aboutHero {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 80px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 32px;
}
.aboutHero > * {
  grid-column: 4;
}
@media (max-width: 511px) {
  .aboutHero {
    grid-row-gap: 48px;
    padding: 48px 20px;
  }
}
@media (max-width: 511px) {
  .aboutHero > * {
    grid-column: 4;
  }
}
.freeBox___8QbQv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 40px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (max-width: 511px) {
  .freeBox___8QbQv {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    column-gap: 0px;
  }
}
.text__hOtI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 110px;
  color: var(--token-88Oxp1lx31pA);
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
  min-width: 60%;
}
@media (max-width: 511px) {
  .text__hOtI {
    font-size: 54px;
  }
}
.text__x8Tmz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-61WcDsxngnRl);
  font-size: 28px;
  font-weight: 400;
  font-family: "Uncut Sans";
  line-height: 1.35;
  min-width: 0;
}
@media (max-width: 511px) {
  .text__x8Tmz {
    font-size: 20px;
    line-height: 1.25;
  }
}
.img__qdgeG {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 725px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border: 1.5px solid var(--token-88Oxp1lx31pA);
}
.img__qdgeG > picture > img {
  object-fit: cover;
}
.ifWeHearTheWord {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: stretch;
  width: 100%;
  background: var(--token-AoZrGFsuVse6);
  justify-self: flex-start;
  left: auto;
  top: auto;
  flex-grow: 0;
  flex-shrink: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 160px 32px;
}
.ifWeHearTheWord > * {
  grid-column: 4;
}
@media (max-width: 511px) {
  .ifWeHearTheWord {
    padding: 64px 20px;
  }
}
@media (max-width: 511px) {
  .ifWeHearTheWord > * {
    grid-column: 4;
  }
}
.freeBox__w0WrB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 96px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (max-width: 511px) {
  .freeBox__w0WrB {
    padding: 0px;
  }
}
.text__kqBug {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-88Oxp1lx31pA);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.05;
  letter-spacing: -2px;
  min-width: 0;
}
@media (max-width: 511px) {
  .text__kqBug {
    font-size: 48px;
  }
}
.freeBox___3AIGw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1000px;
  justify-content: flex-start;
  align-items: center;
  row-gap: 64px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 511px) {
  .freeBox___3AIGw {
    padding: 0px;
  }
}
.text__eNcf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-88Oxp1lx31pA);
  font-family: "Uncut Sans";
  font-size: 40px;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: -1px;
  min-width: 0;
}
@media (max-width: 511px) {
  .text__eNcf {
    font-size: 32px;
  }
}
.text__kqWR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: var(--token-88Oxp1lx31pA);
  font-family: "Uncut Sans";
  line-height: 1.35;
  letter-spacing: 0px;
  min-width: 0;
}
@media (max-width: 511px) {
  .text__kqWR {
    font-size: 20px;
    line-height: 1.25;
  }
}
.freeBox__lZoP {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 64px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 511px) {
  .freeBox__lZoP {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    column-gap: 0px;
  }
}
.img___3JiCs {
  object-fit: contain;
  max-width: 100%;
  width: 312px;
  height: 312px;
  flex-shrink: 0;
}
.img___3JiCs > picture > img {
  object-fit: contain;
}
@media (max-width: 511px) {
  .img___3JiCs {
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__cpQpp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 511px) {
  .freeBox__cpQpp {
    padding: 0px;
  }
}
.text__uCcVs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Uncut Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  letter-spacing: -1px;
  color: var(--token-88Oxp1lx31pA);
  min-width: 0;
}
@media (max-width: 511px) {
  .text__uCcVs {
    font-size: 32px;
  }
}
.text__zYg7H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Uncut Sans";
  font-size: 28px;
  line-height: 1.35;
  color: var(--token-88Oxp1lx31pA);
  min-width: 0;
  margin: 8px 0px 0px;
}
@media (max-width: 511px) {
  .text__zYg7H {
    font-size: 20px;
  }
}
.text__gxtGd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-88Oxp1lx31pA);
  font-family: "Uncut Sans";
  font-size: 20px;
  font-style: italic;
  margin-top: 24px;
  min-width: 0;
}
@media (max-width: 511px) {
  .text__gxtGd {
    font-size: 16px;
    max-width: 300px;
    text-align: left;
    align-self: flex-start;
  }
}
.builtWithSpecialists {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: stretch;
  width: 100%;
  justify-self: stretch;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 160px 32px;
}
.builtWithSpecialists > * {
  grid-column: 4;
}
@media (max-width: 511px) {
  .builtWithSpecialists {
    padding: 64px 20px;
  }
}
@media (max-width: 511px) {
  .builtWithSpecialists > * {
    grid-column: 4;
  }
}
.text__hRrt8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 910px;
  text-align: center;
  color: var(--token-88Oxp1lx31pA);
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 96px;
  line-height: 1.05;
  letter-spacing: -2px;
  justify-self: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 511px) {
  .text__hRrt8 {
    font-size: 48px;
  }
}
.text__ermkI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 910px;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 28px;
  line-height: 1.35;
  color: var(--token-88Oxp1lx31pA);
  justify-self: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 511px) {
  .text__ermkI {
    font-size: 20px;
    line-height: 1.25;
  }
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-EcYcoCQukyZK);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 160px 32px;
}
.section > * {
  grid-column: 4;
}
@media (max-width: 511px) {
  .section {
    padding: 64px 20px;
  }
}
@media (max-width: 511px) {
  .section > * {
    grid-column: 4;
  }
}
.freeBox___2AbB {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 80px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (max-width: 511px) {
  .freeBox___2AbB {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    column-gap: 0px;
  }
}
.img__hXn1P {
  object-fit: contain;
  max-width: 100%;
  width: 41%;
  align-self: flex-end;
  height: auto;
}
.img__hXn1P > picture > img {
  object-fit: contain;
}
@media (max-width: 511px) {
  .img__hXn1P {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__oPSn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.img__mSIq {
  object-fit: cover;
  max-width: 100%;
  height: 65px;
  margin-bottom: 50px;
  flex-shrink: 0;
}
.img__mSIq > picture > img {
  object-fit: cover;
}
.text__fCg2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Uncut Sans";
  color: var(--token-88Oxp1lx31pA);
  font-size: 40px;
  line-height: 1.25;
  letter-spacing: -1px;
  font-weight: 700;
  margin-bottom: 50px;
  min-width: 0;
}
@media (max-width: 511px) {
  .text__fCg2 {
    font-size: 28px;
    line-height: 1.35;
  }
}
.text__znlVg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  color: var(--token-88Oxp1lx31pA);
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 0;
}
.text__cZgom {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-88Oxp1lx31pA);
  font-size: 20px;
  font-family: "Uncut Sans";
  min-width: 0;
}
.footerSection:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
